@model AddAndUpdatePropertyViewModel
<h1>Add Property Form</h1>
<form asp-action="Add">
	<div asp-validation-summary="All" class="text-danger mb-3"></div>
    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
                <label asp-for="Title" class="form-label">Title</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                    <input asp-for="Title" class="form-control" placeholder="Title" />
                </div>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label asp-for="Description" class="form-label">Title</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                    <input asp-for="Description" class="form-control" placeholder="Title" />
                </div>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label asp-for="Price" class="form-label">Title</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                    <input asp-for="Price" class="form-control" placeholder="Title" />
                </div>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label asp-for="Area" class="form-label">Title</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                    <input asp-for="Area" class="form-control" placeholder="Title" />
                </div>
                <span asp-validation-for="Area" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label asp-for="LocationId" class="form-label">Title</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                    <input asp-for="LocationId" class="form-control" placeholder="Title" />
                </div>
                <span asp-validation-for="LocationId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label asp-for="CategoryId" class="form-label">Title</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                    <input asp-for="CategoryId" class="form-control" placeholder="Title" />
                </div>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
        </div>
        </div>
        <input  type="submit" value="Submit"/>
    
</form>