
@using Microsoft.AspNetCore.Identity
    @if (User.Identity.IsAuthenticated)
    {
        @if (User.IsInRole("Admin"))
        {
            <li class="nav-item">
                <a class="nav-link" href="/Admin">
                    Admin Panel
                </a>
            </li>
        }
@* 
         <li class="nav-item">
             <a class="nav-link" asp-controller="MyProperty" asp-action="Index">My Properties </a>
         </li> *@
          <li class="nav-item">
             <a class="nav-link" asp-controller="FavoriteProperty" asp-action="Index"> My Favorites </a>
         </li> 
         <li class="nav-item">
             @User.Identity?.Name.Split("@").First()
         </li>
         <li class="nav-item">
            <form class="form-inline" asp-controller="Auth" asp-action="Logout">
                <button type="submit" class="nav-link btn">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="Auth" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Auth" asp-action="Login">Login</a>
        </li>
    }